body {
    background-color: #6c8faf;
    padding-top: 70px;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.jumbotron {
    background-color: #dee9f3;
}

.thumbnail {
    background-color: #dee9f3;
}