---
import Head from "../components/Head.tsx";
import Navbar from "../components/Navbar.tsx";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <Head title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Navbar />
    <div>404</div>
  </body>
</html>
